<div
  class="app-container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFill
>
  <h1 class="title gray-background padded">In Loving Memory of Molly Wall</h1>
  <div class="carousel-container">
    <app-carousel #carousel [slides]="slides"></app-carousel>
  </div>
  <div class="description-container gray-background padded">
    <h2 class="headline">
      {{ carousel.slides[carousel.currentSlide].headline }}
    </h2>
    <div class="date">{{ carousel.slides[carousel.currentSlide].date }}</div>
    <p class="description">
      {{ carousel.slides[carousel.currentSlide].description }}
    </p>
  </div>
</div>
