.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-container {
  width: 100%;
  height: 100%;
}

.date,
.title {
  font-family: "Dancing Script", cursive;
  width: 100%;
  margin: 0;
}

.date,
.headline,
.title,
.description {
  text-align: center;
}

.description-container {
  width: 100%;
}

.description {
  font-family: "Roboto", sans-serif;
}

.gray-background {
  background: lightgray;
}

.headline {
  font-family: "Playfair Display", serif;
}

.padded {
  padding: 1em 0;
}
